<div class="task_list">

    {{#each tasks}}
        <li>{{this.text}}</li>
        <button id="Delete_button" type="submit">Delete</button><button id="Move_to_todo_button" type="submit">MoveToThe List</button>

    {{else}}
        <P>No tasks have been completed!</P>
    {{/each}}

</div>
