<h1>{{title}}</h1>

<div id="add_new_task_form">
    <label for="new_task_label">Enter task name</label>
    <input id="new_task_text" type="text" />
    <button id="new_task_button" type="submit">Add Task</button>
</div>

<div id="task_list">
</div>

<P>Check a box to mark task as Done </P>