
<div id="full-body">

    <h1 style="color: white">{{title}}</h1>
    <div id="tabs">
        <ul id="list">
            <li><a href="#about">About</a></li>
            <li><a href="#add_new_task">New Task</a></li>
            <li><a href="#Completed_task_list">Completed Task</a></li>
        </ul>
        <div id="about">

            <p>This is an example of a basic To-Do-List which uses HTML, CSS, Javascript, Ajax for the front-end and Node/Express.js for the back-end coding.
                This uses Mongoose as ORM for the Database Schema !!</p>
            <p>The full source of the code is available at <a href="https://github.com/chitrakakkar/FinalProject">To-Do-GitHub</a> </p>
            <p>This app is also hosted on <a href="https://salty-reef-15827.herokuapp.com/">Heroku address</a></p>
        </div>

        <div id="add_new_task">
            <button id="mark_all_done__button" type="submit">All Done</button>
            <input id="new_task_text" name="name" type="text" placeholder="todo task" required />
            <button id="new_task_button" name="add" type="submit">Add Task</button>
            <div class="hr-sect">
                <h4 class="title">Click on task to edit it</h4>
            </div>
            <div id="task_list">


            </div>
        </div>
        <div id="Completed_task_list">

            <div class="hr-sect">
                <h4 class="title">Completed Tasks</h4>
            </div>




        </div>
    </div>
</div>
