<h1>{{title}}</h1>

<div id="add_new_task">
    <button id="All_done__button" type="submit">All Done</button>
    <input id="new_task_text" name="name" type="text" placeholder="todo task" required />
    <button id="new_task_button" type="submit">Add Task</button>

</div>
<hr>
<div id="task_list">

</div>

