
* {
  font-size:20px;
}
body
{
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;



}
#full-body
{
  background-color: lightsteelblue;
  height: 1000px;
  width: 1200px;
  margin-left: -30px;
  border-style: solid;
  border-color: darkmagenta;
}
h1
{

  background-color: darkmagenta;
  padding-left: 30px;
  padding-top: -20px;


}
.task-list{
  padding-left: 300px;
}
p{
  color: white;
}

#new_task_text
{

  width:450px;
  margin-left: 50px;
}
#All_done__button
{
  margin-left: 100px;
}
a
{
  text-decoration: none;
  color: orangered;
}


